In [29]:
import pandas as pd
import numpy as np

In [30]:
df = pd.read_csv("MonthlyJJAS_weather.csv")
df

,date,year,yday,prcp (mm/day),srad (W/m^2),swe (kg/m^2),tmax (deg c),tmin (deg c),vp (Pa)
0,1980-06-30,1980,168.0,3.261121,404.417155,0,21.366552,10.389483,1298.384655
1,1980-07-31,1980,198.0,5.520081,360.596048,0,26.036210,15.639113,1808.963226
2,1980-08-31,1980,229.0,2.666129,351.994677,0,26.254435,17.206855,1979.333145
3,1980-09-30,1980,258.5,3.850357,324.127411,0,21.596786,11.532857,1412.074107
4,1981-06-30,1981,167.5,4.542411,376.206250,0,23.856161,13.606429,1578.962411
...,...,...,...,...,...,...,...,...,...
163,2020-09-30,2020,258.5,2.535089,328.050536,0,22.374732,10.694196,1329.878661
164,2021-06-30,2021,167.5,4.556250,357.972411,0,26.811607,15.639911,1762.449821
165,2021-07-31,2021,197.0,4.981935,365.468710,0,26.045565,15.727581,1805.370645
166,2021-08-31,2021,228.0,2.801935,361.277661,0,27.776290,16.760565,1943.172339
167,2021-09-30,2021,258.0,4.609052,320.305776,0,23.221207,12.120603,1433.930259

In [31]:
# Extract the month from the 'date' column and convert it to a numeric value for sorting
df['month'] = pd.to_datetime(df['date']).dt.month
df

,date,year,yday,prcp (mm/day),srad (W/m^2),swe (kg/m^2),tmax (deg c),tmin (deg c),vp (Pa),month
0,1980-06-30,1980,168.0,3.261121,404.417155,0,21.366552,10.389483,1298.384655,6
1,1980-07-31,1980,198.0,5.520081,360.596048,0,26.036210,15.639113,1808.963226,7
2,1980-08-31,1980,229.0,2.666129,351.994677,0,26.254435,17.206855,1979.333145,8
3,1980-09-30,1980,258.5,3.850357,324.127411,0,21.596786,11.532857,1412.074107,9
4,1981-06-30,1981,167.5,4.542411,376.206250,0,23.856161,13.606429,1578.962411,6
...,...,...,...,...,...,...,...,...,...,...
163,2020-09-30,2020,258.5,2.535089,328.050536,0,22.374732,10.694196,1329.878661,9
164,2021-06-30,2021,167.5,4.556250,357.972411,0,26.811607,15.639911,1762.449821,6
165,2021-07-31,2021,197.0,4.981935,365.468710,0,26.045565,15.727581,1805.370645,7
166,2021-08-31,2021,228.0,2.801935,361.277661,0,27.776290,16.760565,1943.172339,8
167,2021-09-30,2021,258.0,4.609052,320.305776,0,23.221207,12.120603,1433.930259,9

In [32]:
# Create a new column for month names
month_names = {
    1: 'jan', 2: 'feb', 3: 'mar', 4: 'apr', 5: 'may', 6: 'jun', 7: 'jul', 8: 'aug', 9: 'sep', 10: 'oct', 11: 'nov', 12: 'dec'
}

In [33]:
df['month_name'] = df['month'].map(month_names)
df

,date,year,yday,prcp (mm/day),srad (W/m^2),swe (kg/m^2),tmax (deg c),tmin (deg c),vp (Pa),month,month_name
0,1980-06-30,1980,168.0,3.261121,404.417155,0,21.366552,10.389483,1298.384655,6,jun
1,1980-07-31,1980,198.0,5.520081,360.596048,0,26.036210,15.639113,1808.963226,7,jul
2,1980-08-31,1980,229.0,2.666129,351.994677,0,26.254435,17.206855,1979.333145,8,aug
3,1980-09-30,1980,258.5,3.850357,324.127411,0,21.596786,11.532857,1412.074107,9,sep
4,1981-06-30,1981,167.5,4.542411,376.206250,0,23.856161,13.606429,1578.962411,6,jun
...,...,...,...,...,...,...,...,...,...,...,...
163,2020-09-30,2020,258.5,2.535089,328.050536,0,22.374732,10.694196,1329.878661,9,sep
164,2021-06-30,2021,167.5,4.556250,357.972411,0,26.811607,15.639911,1762.449821,6,jun
165,2021-07-31,2021,197.0,4.981935,365.468710,0,26.045565,15.727581,1805.370645,7,jul
166,2021-08-31,2021,228.0,2.801935,361.277661,0,27.776290,16.760565,1943.172339,8,aug
167,2021-09-30,2021,258.0,4.609052,320.305776,0,23.221207,12.120603,1433.930259,9,sep

In [41]:
# Pivot the DataFrame to transform each row data into column data for multiple value columns
pivot_df = df.pivot_table(index='year', columns='month_name', values=['prcp (mm/day)', 'srad (W/m^2)', 'swe (kg/m^2)', 'tmax (deg c)', 'tmin (deg c)', 'vp (Pa)'])

# Flatten the multi-level column index
pivot_df.columns = [f"{col[1]}_{col[0]}" for col in pivot_df.columns]

print(pivot_df)

      aug_prcp (mm/day)  jul_prcp (mm/day)  jun_prcp (mm/day)  \
year
1980           2.666129           5.520081           3.261121
1981           3.079032           3.207823           4.542411
1982           2.761613           1.296774           4.729911
1983           3.638226           4.694758           2.176429
1984           2.897661           2.048145           4.077414
1985           4.440806           2.465403           2.967946
1986           2.874516           2.992581           3.282946
1987           3.868629           1.221613           2.516696
1988           2.766210           5.563871           0.202328
1989           1.488306           2.033306           3.032143
1990           4.275806           2.376048           2.254196
1991           1.994274           3.991290           1.190000
1992           4.105726           6.794032           2.183362
1993           1.214516           1.079597           4.225714
1994           2.560887           3.426694           3.964643
1995           2.462581           1.635484           1.805536
1996           1.418710           4.427016           3.979397
1997           2.335161           3.474113           1.831696
1998           1.315323           3.570645           1.647768
1999           2.344113           1.183790           1.369911
2000           2.914355           4.754919           6.948017
2001           1.662823           0.560242           1.638661
2002           0.900484           1.602742           2.384643
2003           2.517419           3.004758           2.633393
2004           2.370565           3.221774           2.178534
2005           2.939919           3.019194           1.971429
2006           3.423226           4.799839           2.267857
2007           2.619677           1.576694           0.800982
2008           3.181290           4.205565           3.038966
2009           4.590323           3.376774           3.710714
2010           1.895806           3.614274           4.095536
2011           3.762823           1.958710           2.492589
2012           2.768952           1.703145           1.188190
2013           1.093226           3.660806           4.212411
2014           1.372823           4.184113           1.638036
2015           2.099435           1.684597           4.814375
2016           2.329919           3.452984           1.698793
2017           1.777903           1.064194           3.396250
2018           3.344355           2.417097           3.043661
2019           2.630242           4.520726           2.732500
2020           2.810081           3.168629           1.662155
2021           2.801935           4.981935           4.556250

      sep_prcp (mm/day)  aug_srad (W/m^2)  jul_srad (W/m^2)  jun_srad (W/m^2)  \
year
1980           3.850357        351.994677        360.596048        404.417155
1981           5.179828        333.959032        382.391129        376.206250
1982           4.038362        362.746210        403.382339        370.001429
1983           1.910603        352.762177        361.725726        424.604911
1984           4.088571        344.606129        395.069758        389.616638
1985           2.418707        341.573548        380.927339        388.413393
1986           4.839483        374.865323        369.249677        382.647143
1987           2.339655        338.485323        394.473952        375.051071
1988           3.329196        341.538145        363.779597        441.621810
1989           3.826983        373.091371        402.676532        366.063839
1990           4.092759        343.636532        383.334758        371.596250
1991           1.617586        354.095806        385.245565        408.707411
1992           4.025268        350.170242        323.130403        389.873793
1993           3.018621        371.422339        390.299113        366.340179
1994           1.378103        364.307742        372.435000        360.890089
1995           1.231121        358.328548        368.027419        404.640357
1996           7.935714        386.670968        371.243387        348.988793
1997           2.201121        344.185645        366.454758        412.857857
1998           1.580431        360.114194        379.877258        371.663036
1999           4.745172        345.081210        390.968790        403.778393
2000           3.999107        361.436452        373.461935        365.666724
2001           2.387155        361.582742        408.075887        400.089554
2002           2.415948        368.057903        390.500726        380.794018
2003           5.287759        357.342742        352.279113        385.401250
2004           1.614196        353.894032        345.004355        394.894052
2005           3.790603        355.291935        381.463548        374.559286
2006           5.682241        352.003387        346.136613        407.443571
2007           2.828190        350.363065        377.157742        429.334196
2008           3.696339        361.800161        377.334194        345.334310
2009           1.806552        344.391855        349.298226        371.961250
2010           2.936121        362.782419        373.268952        346.117500
2011           4.092931        351.936694        397.565887        390.267232
2012           4.707589        367.795403        385.495806        388.841293
2013           2.738276        388.310484        371.380081        352.304464
2014           4.603103        368.251129        362.175081        383.107500
2015           3.585690        343.930161        419.134355        372.768929
2016           2.773661        349.317258        362.972097        411.792500
2017           1.448879        383.428226        382.028306        364.894911
2018           3.133276        332.263065        382.738548        357.136250
2019           1.455776        366.957419        362.321452        383.689196
2020           2.535089        367.886210        377.122984        414.484310
2021           4.609052        361.277661        365.468710        357.972411

      sep_srad (W/m^2)  aug_swe (kg/m^2)  jul_swe (kg/m^2)  ...  \
year                                                        ...
1980        324.127411                 0                 0  ...
1981        279.627672                 0                 0  ...
1982        288.811983                 0                 0  ...
1983        325.372328                 0                 0  ...
1984        289.276964                 0                 0  ...
1985        319.423707                 0                 0  ...
1986        281.891379                 0                 0  ...
1987        298.444397                 0                 0  ...
1988        294.688661                 0                 0  ...
1989        297.964138                 0                 0  ...
1990        301.686466                 0                 0  ...
1991        334.730172                 0                 0  ...
1992        303.839911                 0                 0  ...
1993        290.442931                 0                 0  ...
1994        325.872069                 0                 0  ...
1995        332.425517                 0                 0  ...
1996        266.540625                 0                 0  ...
1997        323.275345                 0                 0  ...
1998        335.866121                 0                 0  ...
1999        324.766810                 0                 0  ...
2000        311.070804                 0                 0  ...
2001        318.880690                 0                 0  ...
2002        323.609224                 0                 0  ...
2003        299.192759                 0                 0  ...
2004        353.737321                 0                 0  ...
2005        323.605000                 0                 0  ...
2006        295.293707                 0                 0  ...
2007        328.705776                 0                 0  ...
2008        312.307411                 0                 0  ...
2009        330.446293                 0                 0  ...
2010        300.652845                 0                 0  ...
2011        283.408621                 0                 0  ...
2012        313.814911                 0                 0  ...
2013        327.513103                 0                 0  ...
2014        329.009655                 0                 0  ...
2015        325.051810                 0                 0  ...
2016        330.117411                 0                 0  ...
2017        342.111466                 0                 0  ...
2018        308.742241                 0                 0  ...
2019        328.092155                 0                 0  ...
2020        328.050536                 0                 0  ...
2021        320.305776                 0                 0  ...

      jun_tmax (deg c)  sep_tmax (deg c)  aug_tmin (deg c)  jul_tmin (deg c)  \
year
1980         21.366552         21.596786         17.206855         15.639113
1981         23.856161         19.732069         15.243790         15.842097
1982         20.529196         20.184483         13.044113         15.768629
1983         25.187589         22.393707         16.415484         16.610242
1984         24.401983         19.778750         15.984839         14.366613
1985         21.334821         22.175431         14.565726         14.818629
1986         22.706786         20.469828         13.266694         15.639113
1987         25.355357         20.836983         14.686935         17.340000
1988         25.293276         20.721429         16.553548         16.354516
1989         22.946786         20.720517         14.013306         15.574113
1990         23.312143         20.874828         14.751694         15.405645
1991         26.083839         21.279655         15.634113         15.226452
1992         22.553707         21.570446         13.308145         14.548710
1993         24.033482         19.120086         15.214274         16.312661
1994         26.096696         21.968621         14.046935         16.403952
1995         26.651875         21.161983         17.239113         16.571129
1996         24.010517         21.273214         15.245161         14.845565
1997         25.304196         20.867759         14.162903         15.475565
1998         24.388214         24.407241         16.347742         15.815242
1999         25.257679         23.312586         14.677339         17.810968
2000         23.959828         20.891339         15.070726         14.823790
2001         24.690625         21.388966         16.557258         15.169435
2002         24.712321         25.125776         16.350081         17.341774
2003         23.127946         21.832586         16.436371         16.111048
2004         23.198534         24.253214         13.766452         15.573871
2005         27.919554         24.559655         15.718952         16.725000
2006         24.226696         19.936034         15.804516         17.367258
2007         26.619911         23.508276         15.959355         14.542661
2008         24.386293         22.865804         14.370887         16.317823
2009         23.224286         22.289655         15.801935         14.092339
2010         24.196250         21.372845         17.009194         17.099274
2011         24.015000         21.683448         16.033306         17.666774
2012         25.700345         21.906518         14.948468         17.564355
2013         23.249464         21.682845         13.893548         16.675645
2014         25.067411         21.593966         14.575081         14.345000
2015         23.222054         24.706293         15.129355         15.135161
2016         24.818448         24.621964         17.592581         16.683710
2017         24.577679         24.036034         14.366855         16.306774
2018         24.163750         23.565862         17.626290         16.635242
2019         23.634464         23.230345         15.204113         17.480242
2020         26.226638         22.374732         15.011935         17.632177
2021         26.811607         23.221207         16.760565         15.727581

      jun_tmin (deg c)  sep_tmin (deg c)  aug_vp (Pa)  jul_vp (Pa)  \
year
1980         10.389483         11.532857  1979.333145  1808.963226
1981         13.606429         11.800603  1758.285161  1829.448387
1982         11.623571         10.479310  1545.176694  1819.913710
1983         12.973839         11.948017  1893.806129  1937.883629
1984         13.719741         10.763571  1858.868710  1662.393145
1985         10.869554         12.151983  1680.862823  1702.412742
1986         11.972500         10.701983  1577.116048  1810.908226
1987         13.757411         11.718362  1694.318065  1744.795081
1988         11.424483         11.145536  1953.216694  1635.605081
1989         13.603036         11.286897  1641.487500  1798.127258
1990         13.337054         11.148534  1704.884194  1770.487903
1991         13.836786          9.728103  1777.267742  1687.990968
1992         10.647328         11.457411  1565.709919  1679.345565
1993         13.186786          9.794655  1748.112823  1877.325887
1994         14.397054         10.705690  1639.538387  1892.856290
1995         14.613839          8.884052  1991.622581  1912.010323
1996         14.900862         12.427321  1754.389274  1710.851210
1997         14.107768         11.500862  1638.115161  1797.372742
1998         13.957500         12.470431  1868.322339  1750.665000
1999         14.558661         12.061293  1657.071048  1883.229194
2000         13.838190         11.695357  1747.665645  1711.472823
2001         14.294911         11.155862  1822.770968  1727.170403
2002         14.346964         13.401293  1830.337016  1989.430323
2003         13.255804         12.278190  1895.957500  1854.195968
2004         12.142328         11.714554  1613.120000  1784.321694
2005         16.332589         12.508707  1763.591048  1817.772419
2006         13.152857         11.521983  1835.769113  2008.382177
2007         13.012321         12.113017  1570.400806  1416.865161
2008         14.855172         12.322589  1655.871774  1866.265645
2009         12.916964         12.099397  1827.769919  1626.197177
2010         14.681875         11.851034  1969.994274  1987.532258
2011         13.656161         13.040690  1840.693145  2055.400323
2012         14.326638         11.025625  1673.611452  1811.557984
2013         13.467054         10.115690  1620.403710  1944.335242
2014         14.246875         11.030000  1679.990000  1662.256694
2015         13.481250         13.946552  1740.075161  1692.036694
2016         12.648966         13.434375  1989.543952  1701.942581
2017         14.479911         12.322931  1638.987903  1865.836048
2018         14.258393         14.485172  2034.117339  1874.446452
2019         13.018839         12.879914  1745.916048  2026.612339
2020         13.849052         10.694196  1721.160161  1959.146694
2021         15.639911         12.120603  1943.172339  1805.370645

      jun_vp (Pa)  sep_vp (Pa)
year
1980  1298.384655  1412.074107
1981  1578.962411  1464.165517
1982  1383.133750  1301.157500
1983  1529.818036  1469.525690
1984  1600.213879  1345.276250
1985  1315.523571  1505.815862
1986  1436.593839  1344.715259
1987  1503.840179  1412.375776
1988  1214.303621  1371.143482
1989  1586.296429  1419.987155
1990  1562.103661  1376.322069
1991  1552.960089  1282.294483
1992  1273.843793  1431.047411
1993  1541.723571  1256.152759
1994  1676.231696  1328.812155
1995  1662.128750  1173.604741
1996  1715.574310  1471.749107
1997  1647.350625  1394.708276
1998  1596.719018  1488.216638
1999  1546.619821  1437.665603
2000  1607.963103  1445.294554
2001  1658.822768  1253.110000
2002  1677.632232  1486.617241
2003  1539.880982  1454.383190
2004  1458.670862  1418.768214
2005  1803.382589  1469.204741
2006  1536.088750  1386.382931
2007  1302.182500  1421.205690
2008  1718.212500  1461.989196
2009  1514.404286  1442.988448
2010  1698.563393  1428.643966
2011  1586.752232  1538.745345
2012  1519.910690  1348.997143
2013  1591.583571  1303.221638
2014  1660.431161  1358.060517
2015  1313.831518  1636.556466
2016  1457.581638  1580.263929
2017  1681.582143  1447.898103
2018  1629.412857  1702.583448
2019  1522.035089  1503.063966
2020  1560.970948  1329.878661
2021  1762.449821  1433.930259

[42 rows x 24 columns]

In [42]:
pivot_df.to_csv("Monthly_Weather_pivoted.csv")